@font-face {
    font-family: source code pro;
    src: url('/oj/static/fonts/SourceCodePro-Regular.otf');
}
@font-face {
    font-family: source code pro;
    font-weight: bold;
    src: url('/oj/static/fonts/SourceCodePro-Semibold.otf');
}
@font-face {
    font-family: opensans;
    src: url('/oj/static/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: opensans;
    font-weight: bold;
    src: url('/oj/static/fonts/OpenSans-Bold.ttf');
}



body {
    background-color: #fbfaf8;
    color: #000000;
    margin: 0px;
    font-size: 16px;
    font-family: opensans, sans-serif;
}
body pre, body .code {
    font-family: source code pro, monospace;
}
body .zh {
    font-family: Microsoft YaHei, 微软雅黑, arial, serif;
}


header, section, footer, aside, nav, article, figure {
    display: block;
}
header, article, section, footer, nav {
    position: relative;
}


.wrapper {
    width: 940px;
    margin: 0px auto;
}



#mainnav {
    background-color: #404040;
    background: linear-gradient(#606060, #585858,
				#505050, #404040,
				#303030, #202020, #101010,
				#000000, #fbfaf8);
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    height: 36px;
    margin: 0px;
    padding: 0px;
}
#mainnav span.logo, #mainnav a {
    float: left;
    line-height: 36px;
    margin: 0px 8px;
    padding: 0px 22px;
}
#mainnav span.logo {
    font-size: 1.1em;
    padding-left: 0px;
    margin-left: 0px;
}
#mainnav a {
    color: #c0c0c0;
    text-decoration: none;
}
#mainnav a:hover {
    color: #ffffff;
}
#mainnav a.now {
    background-color: #fbfaf8;
    background: linear-gradient(#a0a0a0, #fbfaf8, #fbfaf8, #fbfaf8, #fbfaf8);
    color: #303030;
    border-radius: 4px 4px 0px 0px;
}
#mainnav a.now:hover {
    color: #303030;
}



header {
    text-align: center;
}
header img {
    display: inline;
    vertical-align: middle;
    padding: 17px 0px;
}


nav {
    margin: 0px;
    padding: 0px;
    font-size: 0.90em;
    font-weight: bold;
}
nav ul {
    background-color: #e0e0e0;
    background: linear-gradient(#f0f0f0, #d0d0d0);
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    list-style-type: none;
    overflow: auto;
    width: 554px;
    margin: 0px auto;
    padding: 0px;
}
nav li {
    float: left;
    text-align: center;
    width: 110px;
    line-height: 33px;
}
nav li:not(.last) {
    border-right: 1px solid #c0c0c0;
}
nav a, nav li.disabled {
    display: block;
    color: #707070;
    text-decoration: none;
}
nav a:hover, nav li.now a {
    color: #303030;
}
nav li.now {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.13) inset;
}



#content {
    position: relative;
    min-height: 300px;
    padding-top: 17px;
}



form {
    margin: 0px auto;
    overflow: auto;
}
form fieldset {
    border: 3px solid #b0b0b0;
    border-radius: 12px;
    margin-top: 17px;
}
form legend {
    font-size: 1.2em;
}
form p.message {
    color: red;
    font-size: 0.9em;
    margin: 0px 0px 17px 0px;
}
form div {
    margin: 10px 0px 10px 0px;
    overflow: auto;
}
form p.form-error {
    float: right;
    clear: both;
    font-size: 0.9em;
    color: red;
    margin: 0px 8% 0px 0px;
}
form .form-title {
    float: left;
    text-align: right;
    padding-right: 10px;
}
form input[type="submit"] {
    font-size: 1em;
    padding: 3px 8px;
}
form div span.submit {
    float: right;
    margin: 4px 8% 0px 0px;
    clear: both;
}

#loginform, #signupform {
    width: 38.2%;
}
#submitform {
    width: 61.8%;
}
#loginform .form-title, #signupform .form-title {
    width: 30%;
}
#submitform .form-title {
    width: 38%;
}

#loginform lable[for="remember_me"] {
    float: right;
    margin-right: 8%;
    clear: both;
}

#signupform #role, #submitform #upload_file {
    font-size: 0.9em;
}

#submitform #language {
    font-size: 0.9em;
    padding: 2px 3px 2px 3px;
    width: 100px;
}
#submitform lable[for="language"] {
    padding-top: 3px;
}
#submitform #upload_file {
    height: 29px;
    width: 60%;
}
#submitform lable[for="upload_file"] {
    padding-top: 3px;
}



table.list {
    width: 100%;
    border-spacing: 0px;
    border-radius: 6px;
    border: 1px solid #b0b0b0;
}
table.list th {
    text-align: center;
    padding: 7px 0px 7px 0px;
}
table.list td {
    padding: 6px 0px 6px 0px;
}
table.list tr th:first-child {
    border-top-left-radius: 6px;
}
table.list tr th:last-child {
    border-top-right-radius: 6px;
}
table.list tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
table.list tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
table.list tr th, table.list tr:not(:last-child) td {
    border-bottom: 1px solid #b0b0b0;
}
table.list td:not(:last-child), table.list th:not(:last-child) {
    border-right: 1px solid #b0b0b0;
}

table.list th {
    background-color: rgb(226, 224, 230);
}
table.list tr:hover td {
    background-color: rgb(244, 242, 250);
    background-color: rgba(244, 242, 250, 0.75);
}
table.list tr.odd {
    background-color: rgb(250, 249, 245);
}
table.list tr.even {
    background-color: rgb(252, 251, 251);
}

table.list a {
    color: blue;
    text-decoration: none;
}
table.list a:hover {
    color: navy;
    text-decoration: underline;
}

table.list td span.id {
    display: block;
    width: 80%;
    text-align: right;
}


#pbs .pid {
    width: 110px;
}
#pbs td.title {
    text-align: left;
    padding: 0px 20px;
}

#subs td.user {
    text-align: right;
    padding-right: 16px;
}
#subs td.status {
    text-align: center;
    width: 188px;
}
#subs td.time, #subs td.memory {
    padding-right: 10px;
    text-align: right;
}
#subs td.language {
    text-align: center;
    width: 110px;
}


span[class|=status] {
    color: #ffffff;
    font-size: 0.93em;
    font-weight: bold;
    border-radius: 4px;
    padding: 1px 5px 2px 5px;
}
span.status-waiting {
    background-color: blue;
}
span.status-correct {
    background-color: darkgreen;
}
span.status-warning {
    background-color: darkorange;
}
span.status-error {
    background-color: darkred;
}


.pagenav {
    width: 36%;
    background: #f0f0f0;
    background: linear-gradient(#f6f6f6, rgb(234, 232, 238));
    text-align: center;
    font-size: 0.9em;
    line-height: 27px;
    margin: 17px auto 0px auto;
    padding: 0px 8px;
    border: 1px solid #e8e8e8;
    border-radius: 15px;
    overflow: auto;
}
.pagenav ul {
    margin: 0px;
    padding: 0px;
}
.pagenav li {
    float: left;
    width: 21%;
    display: inline;
    margin: 0px;
    padding: 0px;
}
.pagenav li.page {
    width: 16%;
}
.pagenav li a {
    display: block;
    color: #303030;
    text-decoration: none;
}
.pagenav li a:hover {
    color: #808080;
}
.pagenav li.disabled {
    color: #c0c0c0;
}


.pb-title, .sub-title {
    text-align: center;
}
.pb-title h2 {
    margin: 10px 0px;
}
.pb-details pre, .sub-details pre {
    background-color: #cccccc;
    padding: 8px 5px 8px 12px;
    border-radius: 6px;
}
.sub-title div {
    font-weight: bold;
    font-size: 0.9em;
}


.pb-submit {
    text-align: center;
    margin-top: 30px;
}
.pb-submit a {
    color: #ffffff;
    background-color: #0000ff;
    background: linear-gradient(#4040ff, #10108b);
    font-size: 1.1em;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000000;
    padding: 6px 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 0px #10108b;
}
.pb-submit a:hover {
    text-shadow: 0px 0px 0px #000000;
    background: #2020ff;
}
.pb-submit a:active {
    text-shadow: 0px 0px 0px #000000;
    background: #6060ff;
}
