@font-face {
    font-family: source code pro;
    src: url('/static/fonts/SourceCodePro-Regular.otf');
}
@font-face {
    font-family: source code pro;
    src: url('/static/fonts/SourceCodePro-Semibold.otf');
    font-weight: bold;
}

body {
    background-image: url('/static/images/flower.gif');
    margin: 0px;
    font-size: 16px;
    font-family: helvetica, sans-serif;
}
body pre {
    font-family: source code pro, monospace;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}
header, article, section, footer, nav {
    position: relative;
}

.wrapper {
    width: 940px;
    margin: auto;
}



header {
    text-align: center;
}
header img {
    display: inline;
    vertical-align: middle;
    padding: 12px 0px;
}


#mainnav {
    background-color: #444444;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    height: 36px;
    margin: 0px;
    padding: 0px;
}
#mainnav ul {
    display: inline;
    line-height: 36px;
    margin: 0px;
    padding: 0px;
}
#mainnav li {
    display: inline;
    margin: 0px 40px 0px 0px;
}
#mainnav li a {
    color: #c0c0c0;
    text-decoration: none;
}
#mainnav li a:hover {
    color: #ffffff;
}



header {
    margin: 0px;
}

header h1 {
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
}

nav {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    margin: 0px;
}
nav ul {
    display: inline;
    background: #505050;
    border-radius: 6px;
    padding: 4px 16px;
}
nav li {
    display: inline;
    margin: 0px 16px;
}
nav li a {
    color: #bbbbbb;
    text-decoration: none;
}
nav li a:hover {
    color: #ffffff;
}
nav #login-logout {
    position: absolute;
    right: 12px;
}



#content {
    position: relative;
    min-height: 350px;
    margin-top: 35px;
}



form {
    margin: 0px auto;
    overflow: auto;
}
form fieldset {
    border: 3px solid #aaaaaa;
    border-radius: 6px;
    margin-top: 20px;
}
form legend {
    /* font-size: 160%; */
}
form p.message {
    color: red;
    margin: 0px 0px 20px 0px;
}
form div {
    margin: 10px 0px 10px 0px;
    overflow: auto;
}
form p.form-error {
    float: right;
    clear: both;
    /* font-size: 90%; */
    color: red;
    margin: 0px 8% 0px 0px;
}
form .form-title {
    float: left;
    text-align: right;
    padding-right: 10px;
}
form input[type="submit"] {
    /* font-size: 95%; */
    padding: 3px 8px;
}
form div span.submit {
    float: right;
    margin: 4px 8% 0px 0px;
    clear: both;
}

#loginform, #signupform {
    width: 38.2%;
}
#submitform {
    width: 61.8%;
}
#loginform .form-title, #signupform .form-title {
    width: 30%;
}
#submitform .form-title {
    width: 38%;
}
#loginform lable[for="remember_me"] {
    float: right;
    margin-right: 8%;
    clear: both;
}
#submitform input#upload_file{
    /* font-size: 90%; */
}
#submitform lable[for="upload_file"] {
    padding-top: 3px;
}
#submitform select#language {
    /* font-size: 90%; */
    padding: 1px 2px 1px 2px;
    width: 120px;
}
#submitform lable[for="language"] {
    padding-top: 3px;
}


table.list {
    width: 100%;
    border-collapse: collapse;
}
table.list td {
    border: 1px solid;
}
table.list th {
    text-align: center;
    border: 1px solid;
    padding: 7px 0px 7px 0px;
    background-color: #e0e0e0;
}
table.list tr.odd {
    background-color: #ffffff;
}
table.list tr.even {
    background-color: #f8f8f8;
}
table.list td {
    padding: 6px 0px 6px 0px;
}
table.list a {
    color: blue;
    text-decoration: none;
}
table.list a:hover {
    color: navy;
    text-decoration: underline;
}
table.list td span.id {
    display: block;
    width: 80%;
    text-align: right;
}

#pbs .pid {
    width: 110px;
}
#pbs td.title {
    text-align: left;
    padding: 0px 20px;
}

#subs td.user {
    padding-left: 16px;
}
#subs td.status {
    text-align: center;
    width: 180px;
}
#subs td.time, #subs td.memory {
    padding-right: 10px;
    text-align: right;
}
#subs td.language {
    text-align: center;
    width: 110px;
}


span[class|=status] {
    color: #ffffff;
    font-weight: bold;
    /* font-size: 85%; */
    border-radius: 4px;
    padding: 3px 5px;
}
span.status-waiting {
    background-color: blue;
}
span.status-correct {
    background-color: darkgreen;
}
span.status-warning {
    background-color: darkorange;
}
span.status-error {
    background-color: darkred;
}


.pagenav {
    width: 21.28%;
    margin: 20px auto 0px auto;
    overflow: auto;
    text-align: center;
    background: #cccccc;
    padding: 7px 20px;
    border: 1px solid #666666;
    border-radius: 6px;
}
.pagenav ul {
    margin: 0px;
    padding: 0px;
}
.pagenav li {
    float: left;
    width: 20%;
    display: inline;
    margin: 0px;
    padding: 0px;
}
.pagenav li a {
    color: #222222;
    text-decoration: none;
}
.pagenav li a:hover {
    color: #888888;
}
.pagenav li.disabled {
    color: #888888;
}


.pb-title, .sub-title {
    text-align: center;
}
.pb-title h2 {
    margin: 10px 0px;
}
.pb-title .limits {
    /* font-size: 85%; */
}
.pb-details pre, .sub-details pre {
    background-color: #cccccc;
    padding: 8px 5px 8px 12px;
    border-radius: 6px;
}
.sub-title div {
    font-weight: bold;
    /* font-size: 90%; */
}

.pb-submit {
    margin-top: 32px;
}
.pb-submit span {
    background-color: blue;
    border-radius: 5px;
    padding: 8px;
}
.pb-submit span a {
    color: #ffffff;
    text-decoration: none;
}



footer {
    /* font-size: 90%; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
