<!DOCTYPE HTML>
<html>

  <head>
    {% block head %}
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <title>{% block title %}{% endblock %} - LambdaOJ</title>
    {% endblock head %}
  </head>

  <body>
    <div id="mainnav">
      <div class="wrapper">
	<span class="logo">LAMBDA.COOL</span>
	<a href="/">Home</a>
	<a href="/oj/" class="now">Online Judge</a>
	<a href="/wiki/">Wiki</a>
	<a href="/git/" target="_blank">Git</a>
      </div>
    </div>

    <div class="wrapper">
      <header>
	{% block header %}
	<img src="{{ url_for('static', filename='images/logo.png') }}" alt="LambdaOJ Logo"
	     width="210" />
	{% endblock header %}
      </header>

      <nav>
	<ul>
	  {% block navindex %}
	  <li><a href="{{ url_for('index') }}">Problems</a></li>
	  {% endblock navindex %}
	  
	  {% block navsubmit %}
	  <li><a href="{{ url_for('submit') }}">Submit</a></li>
	  {% endblock navsubmit %}
	  
	  {% block navstatus %}
	  <li><a href="{{ url_for('status') }}">Status</a></li>
	  {% endblock navstatus %}

	  {% block navprofile %}
	  <li class="disabled">Profile</li>
	  {% endblock navprofile %}

	  {% if user %}
	  <li class="last"><a href="{{ url_for('logout') }}">Logout</a></li>
	  {% else %}
	  {% block navlogin %}
	  <li class="last"><a href="{{ url_for('login') }}">Login</a></li>
	  {% endblock navlogin %}
	  {% endif %}
	</ul>
      </nav>

      <div id="content">
	{% block content %}
	{% endblock content %}
      </div>

      <footer>
	{% block footer %}
	&copy; Copyright 2014 by LAMBDA.COOL
	{% endblock footer %}
      </footer>
    </div>

  </body>

</html>
