{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<form action="" method="post" name="login" id="loginform">
  {{ form.hidden_tag() }}

  <fieldset>
    <legend>Login</legend>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if loop.last %}
    <p class="message">[{{ message }}]</p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
      <lable for="email" class="form-title">Email :</lable>
      {{ form.email }}
      {% for error in form.errors.email %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="password" class="form-title">Password :</lable>
      {{ form.password }}
      {% for error in form.errors.password %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="remember_me">{{ form.remember_me }} Remember Me</lable>
    </div>

    <div>
      <span class="submit">
	<input type="submit" name="login" value="Login">
	or
	<a href="/oj/signup/">sign up</a>
      </span>
    </div>
  </fieldset>
</form>
{% endblock content %}

