<html>
<head>
    <title>Log In</title>
</head>
<body>
<h1>Sign In</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your email:<br>
        {{form.email}}<br>
        {% for error in form.errors.email %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        Please enter your password:<br>
        {{form.password}}<br>
        {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        {{form.recaptcha}}
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
</body>

</html>