{% extends "base.html" %}

{% block title %}
Change Password
{% endblock %}

{% block mainnav %}
<div id="mainnav">
  <div class="wrapper">
    <span class="logo">LAMBDA.COOL</span>
    <a href="/">Home</a>
    <a href="/oj/" class="notice">Online Judge</a>
    <a href="/wiki/" class="notice">Wiki</a>
    <a href="http://git.lambda.cool/" target="_blank" class="notice">GitLab</a>
  </div>
</div>
{% endblock mainnav %}

{% block header %}
<header class="notice">
<p>
  The password will be used by <b>ALL WEB SERVICES</b> provided by LAMBDA.COOL
</p>
</header>
{% endblock header %}

{% block nav %}
{% endblock nav %}

{% block content %}

<form action="" method="post" name="passwd" id="passwdform">
  {{ form.hidden_tag() }}

  <fieldset>
    <legend>Change Password</legend>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if loop.last %}
    <p class="message">[{{ message }}]</p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="field">
      <lable for="new_password" class="form-title">New Password :</lable>
      {{ form.new_password }}
      {% for error in form.errors.new_password %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="field">
      <lable for="confirm_password" class="form-title">Again :</lable>
      {{ form.confirm_password }}
      {% for error in form.errors.confirm_password %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>
    
    <div class="separator field">
    </div>

    <div class="field">
      <lable for="old_password" class="form-title">Confirm Old Password :</lable>
      {{ form.old_password }}
      {% for error in form.errors.old_password %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div class="QapTcha field">
    </div>

    <div class="field">
      <span class="submit">
	<input type="submit" name="passwd" value="Change Password">
      </span>
    </div>
  </fieldset>
</form>
{% include 'qaptcha.html' %}
{% endblock content %}
