{% extends "base.html" %}

{% block title %}
Problem {{ problem.id }}
{% endblock title %}

{% block navindex %}
<li class="now"><a href="{{ url_for('index') }}">Problems</a></li>
{% endblock navindex %}

{% block content %}
<article class="pb-title">
  <h2>Problem &nbsp;{{ problem.id }} &nbsp;: &nbsp; {{ problem.title }}</h2>
  <div class="limits">
    Time Limit :&nbsp;
    <span class="code">{{ problem.time_limit * 1000 }} ms</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Memory Limit :&nbsp;
    <span class="code">{{ problem.memory_limit }} KiB</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Deadline :&nbsp;
    <span class="code">{{ problem.deadline.strftime("%Y-%m-%d %T") }}</span>
  </div>
</article>

<div class="pb-submit">
  <a href="{{ url_for('submit', pid = problem.id) }}">Submit</a>
</div>

<article class="pb-details">
  <h3>Description</h3>
  <div class="zh">{{ problem.description|safe }}</div>
  <h3>Input Description</h3>
  <div class="zh">{{ problem.input_description|safe }}</div>
  <h3>Output Description</h3>
  <div class="zh">{{ problem.output_description|safe }}</div>
  <h3>Input Sample</h3>
  <pre>{{ problem.input_sample }}</pre>
  <h3>Output Sample</h3>
  <pre>{{ problem.output_sample }}</pre>
  <h3>Hint</h3>
  <div class="zh">{{ problem.hint|safe }}</div>
</article>
{% endblock content %}
