{% extends "base.html" %}

{% block title %}
Problem {{ problem.problem_id }}
{% endblock title %}

{% block content %}
<article class="pb-title">
  <h3>Problem {{ problem.problem_id }} -- {{ problem.title }}</h3>
  <div class="limits">
    <strong>
      Time Limit:
      <span class="lable-success">{{ problem.time_limit }}s</span>
    </strong>
    &nbsp;&nbsp;&nbsp;
    <strong>
      Memory Limit:
      <span class="lable-success">{{ problem.memory_limit }}K</span>
    </strong>
  </div>
</article>

<article class="pb-details">
  <h4>Description</h4>
  <div>{{ problem.description }}</div>
  <h4>Input Description</h4>
  <div>{{ problem.input_description }}</div>
  <h4>Output Description</h4>
  <div>{{ problem.output_description }}</div>
  <h4>Input Sample</h4>
  <pre>{{ problem.input_sample }}</pre>
  <h4>Output Sample</h4>
  <pre>{{ problem.output_sample }}</pre>
  <h4>Hint</h4>
  <div>{{ problem.hint }}</div>
</article>

<article class="pb-submit">
  <span><a  href="/oj/submit/">Submit</a></span>
</article>
{% endblock content %}
