{% extends "base.html" %}

{% block title %}
Problem {{ problem.id }}
{% endblock title %}

{% block navindex %}
<li class="now"><a href="{{ url_for('index') }}">Problems</a></li>
{% endblock navindex %}

{% block content %}
<article class="pb-title">
  <h2>Problem {{ problem.id }} : {{ problem.title }}</h2>
  <div class="limits">
    Time Limit:&nbsp;
    <span class="status-correct code">{{ problem.time_limit }} s</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Memory Limit:&nbsp;
    <span class="status-correct code">{{ problem.memory_limit }} KiB</span>
  </div>
</article>

<article class="pb-details">
  <h3>Description</h3>
  <div class="zh">{{ problem.description }}</div>
  <h3>Input Description</h3>
  <div class="zh">{{ problem.input_description }}</div>
  <h3>Output Description</h3>
  <div class="zh">{{ problem.output_description }}</div>
  <h3>Input Sample</h3>
  <pre>{{ problem.input_sample }}</pre>
  <h3>Output Sample</h3>
  <pre>{{ problem.output_sample }}</pre>
  <h3>Hint</h3>
  <div class="zh">{{ problem.hint }}</div>
</article>

<div class="pb-submit">
  <a href="{{ url_for('submit', pid = problem.id) }}">Submit</a>
</div>
{% endblock content %}
