{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<form action="" method="post" name="signup" id="signupform">
  {{form.hidden_tag()}}

  <fieldset>
    <legend>Create an account</legend>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {% if loop.last %}
    <p class="message">[{{ message }}]</p>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
      <lable for="email" class="form-title">Email :</lable>
      {{ form.email }}
      {% for error in form.errors.email %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="nickname" class="form-title">Nickname :</lable>
      {{ form.nickname }}
      {% for error in form.errors.nickname %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="password" class="form-title">Password :</lable>
      {{ form.password }}
      {% for error in form.errors.password %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="password_confirm" class="form-title">Again :</lable>
      {{ form.password_confirm }}
      {% for error in form.errors.password_confirm %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}<br>
    </div>

    <div>
      <lable for="role" class="form-title">Role :</lable>
      {{ form.role }}
      {% for error in form.errors.role %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}<br>
    </div>

    <div>
      <span class="submit">
	<input type="submit" value="Create Account">
	or
	<a href="/oj/login/">log in</a>
      </span>
    </div>
  </fieldset>
</form>
{% endblock content %}
