{% extends "base.html" %}

{% block title %}
Status
{% endblock title %}

{% block navstatus %}
<a href="/oj/status/" class="now">Status</a>
{% endblock navstatus %}

{% block content %}
<table id="subs" class="list">
  <tr>
    <th class="id">Submit</th>
    <th class="problem">Problem</th>
    <th class="user">User</th>
    <th class="status">Result</th>
    <th class="time">Time</th>
    <th class="memory">Memory</th>
    <th class="language">Language</th>
  </tr>
  {% for sub in subs.items %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="id">
      <span class="id">
	<a href="/oj/submit_info/{{ sub.id }}/{{ subs.page }}">{{ sub.id }}</a>
      </span>
    </td>
    <td class="problem">
      <span class="id">
	<a href="/oj/problem/{{ sub.problem }}">{{ sub.problem }}</a>
      </span>
    </td>
    <td class="user">{{ sub.user }}</td>
    <td class="status">
      {% if sub.status == "Pending..." %}
      <span class="status-waiting">{{ sub.status }}</span>
      {% elif sub.status == "Accepted" %}
      <span class="status-correct">{{ sub.status }}</span>
      {% elif sub.status in ["Timeout", "Memory Exceeded", "Banned Syscall"] %}
      <span class="status-warning">{{ sub.status }}</span>
      {% else %}
      <span class="status-error">{{ sub.status }}</span>
      {% endif %}
    </td>
    <td class="time"><span class="code">{{ sub.time }}</span> s</td>
    <td class="memory"><span class="code">{{ sub.memory }}</span> KiB</td>
    <td class="language">{{ sub.language }}</td>
  </tr>
  {% endfor %}
</table>

<div class="pagenav">
  <ul>
    {% if subs.has_prev %}
    <li>
      <a href="{{ url_for('status', page = 1) }}"><strong>&lt;&lt;</strong></a>
    </li>
    <li>
      <a href="{{ url_for('status', page = subs.prev_num) }}"><strong>&lt;</strong></a>
    </li>
    {% else %}
    <li class="disabled"><strong>&lt;&lt;</strong></li>
    <li class="disabled"><strong>&lt;</strong></li>
    {% endif %}

    <li>{{ subs.page }}</li>

    {% if subs.has_next %}
    <li>
    <a href="{{ url_for('status', page = subs.next_num) }}"><strong>&gt;</strong></a>
    </li>
    <li>
      <a href="{{ url_for('status', page = subs.pages) }}"><strong>&gt;&gt;</strong></a>
    </li>
    {% else %}
    <li class="disabled"><strong>&gt;&gt;</strong></li>
    <li class="disabled"><strong>&gt;</strong></li>
    {% endif %}
  </ul>
</div>
{% endblock content %}
