{% extends "base.html" %}

{% block title %}
Status
{% endblock title %}

{% block navstatus %}
<li class="now"><a href="{{ url_for('status') }}">Status</a></li>
{% endblock navstatus %}

{% block content %}
<table id="subs" class="list sub">
  <tr>
    <th class="id">Submit</th>
    <th class="problem">Problem</th>
    <th class="user">User</th>
    <th class="language">Language</th>
  </tr>
  {% for sub in subs.items %}
  <tr class="{{ loop.cycle('odd', 'even') }}">
    <td class="id">
      <a href="{{ url_for('submit_info', 
	       sid =  sub.id, page = subs.page) }}">
	<span class="id">
	{{ sub.id }}
	</span>

	{% if sub.status == "Pending" %}
	<span class="status-waiting">-</span>
	{% elif sub.status == "Compilation Error" %}
	<span class="status-worst">WORST</span>
	{% elif sub.status|float() == 1.00 %}
	<span class="status-cool">COOL</span>
	{% elif sub.status|float() >= 0.80 %}
	<span class="status-fine">FINE</span>
	{% elif sub.status|float() >= 0.60 %}
	<span class="status-safe">SAFE</span>
	{% elif sub.status|float() > 0.00 %}
	<span class="status-sad">SAD</span>
	{% else %}
	<span class="status-worst">WORST</span>
	{% endif %}
      </a>
    </td>
    <td class="problem">
      <a class="id" href="{{ url_for('problem',
			  problem_id = sub.problem) }}">{{ sub.problem }}</a>
    </td>
    <td class="user">{{ sub.user }}</td>
    <td class="language">{{ sub.language }}</td>
  </tr>
  {% endfor %}
</table>

<div class="pagenav">
  <ul>
    {% if subs.has_prev %}
    <li>
      <a href="{{ url_for('status', page = 1) }}"><strong>&lt;&lt;&lt;</strong></a>
    </li>
    <li>
      <a href="{{ url_for('status', page = subs.prev_num) }}"><strong>&lt; Prev</strong></a>
    </li>
    {% else %}
    <li class="disabled"><strong>&lt;&lt;&lt;</strong></li>
    <li class="disabled"><strong>&lt; Prev</strong></li>
    {% endif %}

    <li class="page">{{ subs.page }}</li>

    {% if subs.has_next %}
    <li>
    <a href="{{ url_for('status', page = subs.next_num) }}"><strong>Next &gt;</strong></a>
    </li>
    <li>
      <a href="{{ url_for('status', page = subs.pages) }}"><strong>&gt;&gt;&gt;</strong></a>
    </li>
    {% else %}
    <li class="disabled"><strong>Next &gt;</strong></li>
    <li class="disabled"><strong>&gt;&gt;&gt;</strong></li>
    {% endif %}
  </ul>
</div>
{% endblock content %}
