{% extends "base.html" %}

{% block title %}
Submit {{ sub.id }}
{% endblock title %}

{% block head_add %}
<link href="{{ url_for('static', filename='styles/hl.css') }}" type="text/css" rel="stylesheet" />
<script src="{{ url_for('static', filename='scripts/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock head_add %}

{% block navstatus %}
<li class="now"><a href="{{ url_for('status') }}">Status</a></li>
{% endblock navstatus %}

{% block content %}
<article class="sub-title">
  <hgroup>
    <h2>Submit {{ sub.id }} ({{ sub.user }})</h2>
    <h3>Problem {{ problem.id }} : {{ problem.title }}</h3>
  </hgroup>
</article>

<article class="sub-details">
  <h3>Status</h3>
  {% if sub_results == "Pending" %}
  <p>
    <span class="status-waiting">Pending</span>
    ...... Please refresh this page [F5]
  </p>
  {% elif sub_results == "Compilation Error" %}
  <p>Compilation Error, here are the error messages:</p>
  <pre class="error_message">{{ sub.error_message }}</pre>
  {% else %}
  <table id="sps" class="list">
    <tr>
      <th class="sample">Sample</th>
      <th class="state">State</th>
      <th class="time">Time</th>
      <th class="memory">Memory</th>
    </tr>
    {% for sp in sub_results %}
    <tr>
      <td class="sample">{{ loop.index }}</td>
      <td class="state">{{ sp[state] }}</td>
      <td class="time"><span class="code">{{ sp[time] }}</span> ms</td>
      <td class="memory"><span class="code">{{ sp[memory] }}</span> KiB</td>
    </tr>
    {% endfor %}
  </table>
      

  {% endif %}

  <h3>Code File</h3>
  <pre><code>{{ code }}</code></pre>
</article>
{% endblock content %}
