{% extends "base.html" %}

{% block title %}
Submit
{% endblock title %}

{% block navsubmit %}
<li class="now"><a href="{{ url_for('submit') }}">Submit</a></li>
{% endblock navsubmit %}

{% block content %}
<form action="{{ url_for('submit') }}" method="post" 
      enctype="multipart/form-data" name="submit" id="submitform">
  {{ form.hidden_tag() }}

  <fieldset>
    <legend>Submit</legend>

    <div>
      <lable for="problem_id" class="form-title">Problem ID :</lable>
      {% if pid %}
      {{ form.problem_id(value=pid) }}
      {% else %}
      {{ form.problem_id }}
      {% endif %}
      {% for error in form.errors.problem_id %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="language" class="form-title">Language :</lable>
      {{ form.language }}
      {% for error in form.errors.language %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="upload_file" class="form-title">File :</lable>
      {{ form.upload_file }}
      {% for error in form.errors.upload_file %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>

    <div>
      <lable for="validate_code" class="form-title">Captcha :</lable>
      <span class="validate">
	{{ form.validate_code }}
	<img src="{{ url_for('static', filename='tmp/%s.gif' % (validate_img)) }}" alt="Validate Code" />
      </span>
      {% for error in form.errors.validate_code %}
      <p class="form-error">[{{ error }}]</p>
      {% endfor %}
    </div>
    {{ form.validate_code_ans }}

    <div>
      <span class="submit">
	<input type="submit" value="Submit">
      </span>
    </div>
  </fieldset>
</form>
{% endblock content %}
