{% extends "base.html" %}

{% block title %}
Submit {{ sub.id }}
{% endblock title %}

{% block head_add %}
<link href="{{ url_for('static', filename='styles/hl.css') }}" type="text/css" rel="stylesheet" />
<script src="{{ url_for('static', filename='scripts/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% if sub_results == "Pending" %}
<meta http-equiv="refresh" content="3">
{% endif %}
{% endblock head_add %}

{% block navstatus %}
<li class="now"><a href="{{ url_for('status') }}">Status</a></li>
{% endblock navstatus %}

{% block content %}
<article class="sub-title">
  <hgroup>
    <h2>Submit &nbsp;{{ sub.id }} &nbsp;: &nbsp; {{ sub.user }} &nbsp; ({{ sub.submit_time }})</h2>
    <h4>
      <a href="{{ url_for('problem', problem_id = problem.id) }}">
	Problem &nbsp;{{ problem.id }} &nbsp;: &nbsp; {{ problem.title }}
      </a>
    </h4>
  </hgroup>
</article>

<article class="sub-details">
  <h3>Status</h3>
  {% if sub_results == "Pending" %}
  <span class="status-waiting">Pending...</span>
  &nbsp;&nbsp;&nbsp;
  <a href="">
    This page will refresh in 3 seconds automatically...
  </a>
  {% elif sub_results == "Compilation Error" %}
  <span class="status-error">Compilation Error</span>
  <pre class="error_message">{{ error_message }}</pre>
  {% else %}
  <table id="sps" class="list">
    <tr>
      <th class="id">Sample</th>
      <th class="state">Status</th>
      <th class="time">Time</th>
      <th class="memory">Memory</th>
    </tr>
    {% for sp in sub_results %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
      <td class="id">{{ loop.index }}</td>
      <td class="status">
	{% if sp['state'] == "Accepted" %}
	<span class="status-correct">{{ sp['state'] }}</span>
	{% elif sp['state'] in ["Time Limit Exceeded", "Memory Limit Exceeded", 
	"Output Limit Exceeded"] %}
	<span class="status-warning">{{ sp['state'] }}</span>
	{% else %}
	<span class="status-error">{{ sp['state'] }}</span>
	{% endif %}
      </td>
      {% if sp['state'] == "Accepted" %}
      <td class="time"><span class="code">{{ sp['time'] }}</span> ms</td>
      <td class="memory"><span class="code">{{ sp['memory'] }}</span> KiB</td>
      {% else %}
      <td class="time">-</td>
      <td class="memory">-</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if sub_results != "Compilation Error" %}
  <h3>Code File</h3>
  <pre><code class="{% if sub.language == "C" %} c
                    {% elif sub.language == "C++" %} cpp
                    {% elif sub.language == "Python" %} python
		    {% endif %}">{{ code }}</code></pre>
  {% endif %}
</article>
{% endblock content %}
